* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.flex-container {
    border: .5vmin solid;
    display: flex;
    margin: 2vh auto;
    flex-wrap: wrap;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 7vmin;
}

h2 {
    font-size: 5vmin;
}

span {
    display: flex;
    height: 15vmin;
    width: 15vmin;
    border: .5vmin solid;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
}

.one {
    background: #ffc000;
}
.two {
    background: #ff8000;
}
.three {
    background: #ff0000;
}
.four {
    background: #ff0080;
}
.five {
    background: #0080ff;
}
.six {
    background: #008080;
}