* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.flex-container {
    border: 2px solid;
    display: flex;
    margin: 2vh auto;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

h1, h2 {
    text-align: center;
}

span {
    display: block;
    height: 100px;
    width: 100px;
    border: 2px solid;

}

.one {
    background: #ffc000;
}
.two {
    background: #ff8000;
}
.three {
    background: #ff0000;
}
.four {
    background: #ff0080;
}
.five {
    background: #0080ff;
}
.six {
    background: #008080;
}